html {
    font-family: 'DM Sans', sans-serif;
}

.header__container-padre--nav{
    display: inline-flex;
    text-align: center;
    background-color: #A5BE00;

}

.header__container-padre--logo{
    display: none;
}

.header__container-padre--menu{
    display: none;
}

header{
    display:inline-block;
    width: 100%;
}
header .logo__letra{
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

.header__container-padre--nav{
    text-align: center;
    width: 100%;
    justify-content: center;

}

.header__container-padre--nav ul{
    background-color: #A5BE00;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.header__container-padre--nav li {
    margin: 15px;
    display: inline;
    justify-content: space-evenly;
}

.header__container-padre--nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header__titulo {
    font-size: 40px;
}

header .header__logo {
    margin: 0 auto;
    background-color: #A5BE00;
    border: solid black 2px;
    padding: 10px;
    width: fit-content;
}
.container-padre{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";

}

.header__container-padre{
    grid-area: header;
}

.main__container-padre{
    grid-area: main;
    margin: 0 auto;
}

.main__container-padre header h1{
    display: block;
}
#footer__container-padre{
    grid-area:footer;
}